.UserSettings {
  section {
    label {
    }
    label:hover {
    }
    h1 {
    }
  }
  aside {
    form {
      label {
      }
      input {
      }
      button {
      }
      button:hover {
      }
      #bio {
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .UserSettings {
    h1 {
      color: #ff6410;
    }
    form {
      label {
      }
      input {
      }
      section {
        .bioInput {
        }
        button {
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .UserSettings {
    display: flex;
    flex-direction: column;
    section {
      border-right: none;
      width: 100vw;
      height: 10vh;
      flex-direction: row;
      label {
        height: 3vh;
      }
      label:hover {
      }
      h1 {
        display: none;
      }
    }
    aside {
      form {
        label {
        }
        input {
        }
        button {
        }
        button:hover {
        }
        #bio {
        }
      }
    }
  }
}
