.loginDiv {
  width: 30vw;
  height: 80vh;
  top: 25vh;
  position: fixed;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  animation: fadeInAndUp cubic-bezier(0.82, 0.9, 1, 1.08) 0.9s;
  color: black;
  background-color: white;
  h3 {
    display: flex;
    justify-content: center;
  }
  .title {
    justify-self: center;
    font-family: "Orbitron", sans-serif;
    font-size: 50px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    p {
      margin-top: 0;
    }
    .buttonDiv {
      width: 25vmin;
      width: 20vmin;
      display: flex;
      flex-direction: row;
    }
  }
  .loginForm {
    background-color: white;
    height: 30vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .text {
      font-size: 20px;
      padding-left: 55px;
      font-family: "Gruppo", sans-serif;
    }
    .inputText {
      font-family: "Gruppo", sans-serif;
      color: black;
      height: 20px;
      background-color: white;
      border: solid 1px white;
      border-radius: 3px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      font-size: 10px;
      width: 20vw;
      align-self: center;
    }
    .submit {
      font-size: 1.5vmin;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 10vw;
      font-family: "Gruppo", sans-serif;
      border-color: white;
      height: 20px;
      color: black;
      margin-top: 1vmin;
      padding-bottom: 0.8vmin;
      padding-top: 0.8vmin;
      margin-bottom: 10vmin;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      margin-left: 60px;
    }
    .submit:hover {
      background-color: rgb(170, 218, 250);
    }
  }
  .signupButton {
    display: flex;
    justify-content: center;
    font-size: 1.5vmin;
    position: absolute;
    top: 65vh;
  }
  .signupButton:hover {
    color: rgb(170, 218, 250);
    cursor: pointer;
  }
}

@media (max-width: 900px) {
  .loginDiv {
    width: 40vw;
    .title {
      p {
      }
      .buttonDiv {
      }
    }
    .loginForm {
      margin-top: 50px;
      width: 30vw;
      display: flex;
      h3 {
        align-self: flex-start;
        width: 40vw;
        margin-left: -20px;
        display: flex;
        justify-content: center;
      }
      .text {
      }
      .inputText {
        width: 20vw;
      }
      .submit {
      }
      .submit:hover {
      }
    }
    .signupButton {
      font-size: 20px;
    }
    .signupButton:hover {
    }
  }
}

@media (prefers-color-scheme: dark) {
  .loginDiv {
    height: 80vh;
    margin-top: 20px;
    background-color: rgb(28, 28, 28);
    .loginForm {
      color: white;
      .inputText {
        background-color: rgba(28, 28, 28);
        color: white;
      }
    }
    .signupButton {
      color: white;
    }
    .errorMessage {
      color: white;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndUp {
  0% {
    opacity: 0.2;
    transform: translateY(50px);
  }
  20% {
    opacity: 0.4;
    transform: translateY(40px);
  }
  40% {
    opacity: 0.6;
    transform: translateY(30px);
  }
  60% {
    opacity: 0.8;
    transform: translateY(20px);
  }
  80% {
    opacity: 0.8;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
  }
}
