.ChatsPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top:60px;
    align-items: center;
    background-size: cover;
    width: 100vw;
    position: fixed;
    height: 98vh;
    background-color: pink;
    margin-top: 0vmin
}
