.ChatsPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top:4vh;
    align-items: center;
    background-image:url(https://i.makeagif.com/media/8-23-2018/h3pGxo.gif);
    background-size: cover;
    width: 100vw;
    position: fixed;
    height: 100vh;
    margin-top: 0vmin
}
