.ChatsPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top:5vmin;
    align-items: center;
    background-size: cover;
    width: 100vw;
    position: fixed;
    height: 98vh;
    background-color: black;
    margin-top: 0vmin
}


@media (max-width:900px){
    .ChatsPage{
    top:0;

    }
}