    .UserPosts {
        height: 90vh;
        position: absolute;
        border-radius: 7px;
        top: 10vh;
        animation: fadeIn 0.5s;
        overflow-y: scroll;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        left: 25vw;
        list-style-type: none;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        width: 70vw;

        .yourPosts {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            height: 10vh;
            color: black;
        }

        li {
            //animation: fadeIn 1s;
            border-radius: 7px;
            height: 60vh;
            margin-top: 20px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 65vw;
            section {
                border-radius: 7px;

                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 65vw;
                height: 10vh;

                h4 {
                    justify-self: flex-end;
                    margin-left: 10px;

                }

                h2 {
                    justify-self: flex-start;
                    margin-right: 10px;


                }
            }

            h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50vh;
                width: 65vw;
                margin-top: 0;
                background-color: gray;
                border: solid 2px black;
                border-radius: 7px;
            }

            h3:hover {
                padding: 10px;
                transition: 3s;
                border-radius: 7px;
                animation: borderHighlight 3s infinite;
            }

            aside {
                display: flex;
                width: 65vw;
                justify-content: flex-start;
                padding-left: 10px;

                p {
                    margin-left: 5px;
                    margin-right: 5px;
                }

                .like:hover,
                .dislike:hover,
                .comment:hover {
                    color: rgb(171, 211, 246);
                }
            }
        }

        .noPosts {

            margin-bottom: 5vh;
        }
    }


    @media (max-width:900px) {
        .UserPosts {
            .yourPosts {}

            li {

                section {

                    h4 {}

                    h2 {}
                }

                h3 {}

                h3:hover {}

                aside {

                    p {}

                    .like:hover,
                    .dislike:hover,
                    .comment:hover {}
                }
            }

            .noPosts {}
        }
    }

    @media (prefers-color-scheme:dark) {
        .UserPosts {
            .yourPosts {
                color: white;
            }

            li {

                section {

                    h4 {}

                    h2 {}
                }

                h3 {}

                h3:hover {}

                aside {

                    p {}

                    .like:hover,
                    .dislike:hover,
                    .comment:hover {}
                }
            }

            .noPosts {
            }
        }
    }

    @keyframes borderHighlight {

        0%,
        100% {
            border-color: rgb(180, 217, 247);
            /* Initial and final border color */
        }

        25% {
            border-color: white;
            /* Highlighted border color */
        }

        50% {
            border-color: rgb(180, 217, 247);
            /* Initial and final border color */
        }

        75% {
            border-color: white;
            /* Highlighted border color */
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }