.ChatsFlow{
    position: absolute;
    margin-top: 5vmin;
    right: 5vw;
    width: 70vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    border: solid 1px white;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 7px;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@media (max-width:900px) {
    .ChatsFlow{
        position: absolute;
        top: 15vh;
        width: 90vw;
        height: 68vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

@media (prefers-color-scheme:dark) {
    .ChatsFlow{
        background-color: rgb(28,28,28);
        box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    
    }
}