.FormModal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s;
  background-color: rgba(255, 255, 255, 0.5);
  /* Adjust the alpha value for transparency */
  backdrop-filter: blur(10px);
  /* Adjust the blur radius as needed */
  margin-top: -150px;
  h1 {
    margin-top: 0;
    font-size: 20px;
  }

  h1 {
    cursor: pointer;
  }

  section {
    max-width: 1000px;
    max-height: 900px;
    position: absolute;
    top: 20vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: black;
    border-radius: 7px;
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: solid 1px rgb(100, 100, 100);
  }
  p {
    font-size: 25px;
    width: 60vw;
    height: 10px;
    margin-left: 60px;
    color: black;
    max-width: 1000px;
    max-height: 900px;
    color: rgb(237, 119, 49);
  }
  p:hover {
    cursor: pointer;
  }
  h2 {
    span {
      color: rgb(191, 63, 27);
    }
  }
  h2:hover {
    color: aqua;
  }
  .inputField {
    color: black;
    max-width: 900px;
    max-height: 900px;
    height: 60vh;

    width: 30vw;

    h3 {
      width: 30vw;
      border-radius: 7px;
      max-width: 900px;
      border-color: white;
      font-weight: bold;
      margin-top: 10px;
      color: black;
    }

    input {
      width: 30vw;
      border-radius: 7px;
      border-color: black;
      border-width: 1px;
      background-color: white;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

      max-width: 900px;
    }

    .button {
      margin-top: 10px;
      color: black;
      border-radius: 7px;
      color: white;
      border-color: white;
      width: 70px;
      height: 30px;
      background-color: rgb(191, 63, 27);
    }

    .button:hover {
      color: white;
      background-color: rgb(84, 118, 228);
      cursor: pointer;
    }
    #description {
      padding-bottom: 10vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

// @media (max-width: 900px) {
//   .FormModal {
//     h1 {
//       margin-top: 10vh;
//       color: black;
//       margin-left: 10px;
//     }

//     section {
//       height: 100vh;
//       width: 100vw;

//       p {
//         font-size: 25px;
//         height: 30px;
//         width: 90vw;
//       }

//       .inputField {
//         width: 80vw;

//         h3 {
//           width: 80vw;
//         }

//         input {
//           width: 80vw;
//         }
//       }

//       button {
//         width: 100px;
//         height: 50px;
//       }

//       #description {
//       }
//     }
//   }
// }

// @media (prefers-color-scheme: dark) {
//   .FormModal {
//     h1 {
//       color: white;
//     }

//     section {
//       border-width: 1px;
//       box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
//         rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
//       background-color: rgb(28, 28, 28);

//       p {
//         color: rgb(237, 119, 49);
//       }

//       .inputField {
//         color: white;

//         h3 {
//         }

//         input {
//           background-color: rgb(28, 28, 28);
//           color: white;
//         }
//       }

//       button {
//         border-color: black;
//         color: white;
//         background-color: rgb(28, 28, 28);
//       }

//       #description {
//       }
//     }
//   }
// }

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }

// @keyframes fadeInAndUp {
//   0% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }
