.ForumPage{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top:30px;
    align-items: center;
    width: 100vw;
    animation: fadeIn 1s;
    height: 200vh;
    
    background-size: cover;
    overflow-y: scroll;
    
    header{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        width: 100vw;
        height: 41vh;
        h1{
            color: black;
        }
        h2{}
        h3{}
        h4{}
        section{
            
            display: flex;
            justify-content: space-evenly;
            width: 100vw;
            background-color: rgb(171,211,246);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            button{
                padding: 5px;
                background-color: white;
                border-color: white;
                margin: 10px;
            }
        }

        
    }
    ul{
        animation: fadeIn 2s;
        list-style-type: none;
        position: relative;
        overflow-y: scroll;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border-radius: 7px;
        padding: 50px;

        width: 80vw;
        li{
            color:white;
            width: 80vw;
        }
    }
    .postToForum{
        width: 100vw;
        height: 100vh;
        z-index: 3;
        
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        form{
            border-radius: 7px;
            animation: fadeIn 0.5s;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 60vw;
            height: 60vh;
            color:black;
            p{
                padding-left: 50px;
                margin-top: 0;
                width: 60vw;
                font-size: 30px;
                justify-self: flex-start;
                align-items: flex-start;
            }
            h1{

            }
            h2{
                width: 30vw;

            }
            
            input{
                
                width: 30vw;
                
            }
            button{
                margin-top: 10px;
                width: 15vw;


            }
        }
        
    }
}

@media(max-width:900px){
    .ForumPage{
        background-color: white;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color:black;
        position: fixed;
        top:0;
        header{
    
            padding: 10px;
            padding-left: 5vw;
            width: 100vw;
            height: 100vh;
            h1{}
            h2{}
            h3{}
            h4{}
            section{

                display: flex;
                justify-content: center;
    
                button{
                    margin: 10px;
                }
            }
            
        }
        ul{
            width: 80vw;
            height: 100vh;
            overflow-y: scroll;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            border-radius: 7px;
            padding: 50px;
    
            li{
    
            }
        }
    }
}

@media (prefers-color-scheme:dark) {
    .ForumPage{
        background-color: black;
        header{
            //box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
            color: #FF6410;
            h1{
                color: #FF6410;
            }
            h2,h3{
            color: white;

            }

            section{
                background-color: #FF1100;
            button{
                background-color: #FF6410;
                border-radius: 7px;
                padding: 2px;
            }

            }
            ul{
                li{
                    margin: 10px;
                }
                
            }
        }
        .postToForum{
    
            p{
            }
            form{
                background-color: rgb(28,28,28);
                color:white;
                border: solid 2px white;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

                h1{
                }
                h2{
                }
                
                input{
                    
                }
                button{
                }
            }
            
        }
    }
    
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }