.ForumPage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 32px;
  border-top: solid 1px black;
  align-items: center;
  width: 100vw;
  animation: fadeIn 1s;
  height: 140vh;
  z-index: 1;
  background-size: cover;
  overflow-y: scroll;
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
    width: 100vw;
    height: 45vh;

    h1 {
      margin: 0;
      font-size: 10vh;
      color: transparent;
      width: 100vw;
      background: #666666;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
      padding-left: 10vmin;
    }
    h2 {
      padding-left: 10vmin;
    }
    h3 {
      padding-left: 10vmin;
    }
    h4 {
      padding-left: 10vmin;
    }
    section {
      top: 40vh;
      display: flex;
      justify-content: center;
      width: 100vw;
      margin-top: 10px;
      //   border-top: solid 1px black;
      //   border-bottom: solid 1px black;
      aside {
        background-color: rgb(171, 211, 246);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        width: 75vw;
        display: flex;
        justify-content: flex-end;
        border-radius: 7px;
        button {
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px;
          background-color: white;
          border-color: white;
          margin: 10px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -1px,
            rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
          border: none;
          border-radius: 7px;
        }
        button:hover {
          cursor: pointer;
          background-color: rgb(171, 211, 246);
          color: white;
        }
      }
    }
  }
  .postsList {
    top: 55vh;

    animation: fadeIn 2s;
    list-style-type: none;
    position: absolute;
    // overflow-y: scroll;
    // height: 80vh;

    border-radius: 7px;
    flex-direction: column;
    width: 70vw;
    border: solid 1px;
    left: 5vw;
    margin-left: 10vw;
    border: none;
    .post {
      background-color: white;
      padding-right: 40px;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      height: 80vh;
      margin-bottom: 15px;
      border-radius: 7px;
      li:hover {
        padding: 20px;
        transition: 3s;
        border-radius: 7px;
      }
      section {
        display: flex;
        justify-content: space-between;

        height: 10vh;
        width: 70vw;
        align-items: center;

        h1 {
          color: rgb(171, 211, 246);
          padding-right: 10px;
        }
        h2 {
          padding-left: 10px;
        }
      }
      .postImage {
        overflow: hidden;
        background-size: contain;
        width: 70vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
      }
      .postText {
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gray;
        color: white;
        font-size: 10vmin;
        overflow: hidden;
        height: 60vh;
        width: 70vw;
        margin: 0;
        margin-right: 0;
      }
      aside {
        display: flex;
        width: 65vw;
        justify-content: flex-start;
        height: 10vh;

        flex-direction: column;

        .pDiv {
          display: flex;
          border-top: solid 1px black;
          width: 68vw;
          p {
            width: 25%;
            height: 2.5vh;
            margin-top: 0;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          p:hover {
            background-color: rgb(180, 217, 247);
            border-radius: 7px;
            color: white;
            cursor: pointer;
          }
          .date {
            width: 20%;
            display: flex;
            justify-content: flex-end;
            font-weight: bolder;
          }
          .date:hover {
            background-color: white;
            color: black;
          }
        }
        footer {
          align-self: center;
          border-radius: 7px;
          padding: 2.5px;
          border: none;
          width: 50vw;
          height: 5vh;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          color: black;
        }
      }
    }
  }
  .noPosts {
    margin-top: 10vh;
    font-size: 25px;
    color: black;
  }
}

@media (max-width: 900px) {
  .ForumPage {
    width: 100vw;
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;

    top: 0;
    header {
      padding: 10px;
      padding-left: 5vw;
      width: 100vw;
      height: 30vh;
      h1 {
      }
      h2 {
      }
      h3 {
      }
      h4 {
      }
      section {
        display: flex;
        justify-content: center;

        button {
          margin: 10px;
        }
      }
    }
    ul {
      width: 80vw;
      height: 100vh;
      overflow-y: scroll;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      border-radius: 7px;
      padding: 50px;

      li {
        width: 90vw;
        padding-right: 0;
        h3 {
          width: 85vw;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .ForumPage {
    header {
      h1 {
        color: #ff6410;
        text-shadow: none;
      }
      h2,
      h3,
      h4 {
        color: white;
      }
      section {
        aside {
          background-color: #ff6410;
          border: solid 1px white;
          button {
            background-color: rgb(28, 28, 28);
          }
          button:hover {
            background-color: #ff6410;
          }
        }
      }
    }
    .postsList {
      background-color: rgb(28, 28, 28);
      .post:hover {
        cursor: pointer;
      }
      .post {
        border: solid 1px white;
        background-color: rgb(28, 28, 28);

        section {
          h1 {
          }
          h2 {
          }
        }
        .postImage {
        }
        .postText {
        }
        aside {
          p {
          }
          .pDiv {
            p {
            }
            p:hover {
              background-color: #ff6410;
            }
            .date {
            }
            .date:hover {
              background-color: rgb(28, 28, 28);
              color: white;
            }
          }
          footer {
          }
        }
      }
    }
    .noPosts {
      margin-top: 10vh;
      font-size: 25px;
      color: black;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
