.ForumPage{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top:32px;
    border-top: solid 1px black;

    align-items: center;
    width: 100vw;
    animation: fadeIn 1s;
    height: 200vh;
    z-index: 1;
    background-size: cover;
    overflow-y: scroll;
    
    header{

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color: black;
        width: 100vw;
        height: 30vh;
        h1{
            color: transparent;
            background: rgb(180,217,247);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        }
        h2{}
        h3{}
        h4{}
        section{
           top: 40vh; 
            display: flex;
            justify-content: space-evenly;
            width: 100vw;

            background-color: rgb(171,211,246);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            button{
                padding: 5px;
                background-color: white;
                border-color: white;
                margin: 10px;
            }
        }

        
    }
    ul{
        top:50vh;
        background-color: red;
        background-color: lightgrey;
        animation: fadeIn 2s;
        list-style-type: none;
        position: absolute;
        // overflow-y: scroll;
        // height: 80vh;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border-radius: 7px;
        display: flex;
        flex-direction: column-reverse;
        width: 90vw;
        border: solid 1px ;
        align-items: center;
        left: 3.5vw;

        li{

            background-color: white;
            padding-right: 40px;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 15px;
            align-items: center;
            width: 85vw;
            border: solid 2px black;
            li:hover{
                padding: 20px;
                transition: 3s;
                border-radius: 7px;
                animation: borderHighlight 3s infinite; 
            }
            section{
                display: flex;
                justify-content: space-between;

                height: 10vh;
                width: 85vw;
                align-items: center;
                h1{
                    color: rgb(171,211,246);
                    padding-right: 10px;
                }
                h2{
                    padding-left: 10px;


                }
            }
            h3{
                margin-left: 2vw;
                margin-top: 0;
                height: 50vh;
                width: 87vw;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: gray;
                border-radius: 7px;
            }
            
            aside{
                display: flex;
                width: 80vw;
                justify-content: flex-start;
                p{
                    margin-left:5px ;
                    margin-right:5px ;
                }
                .like:hover,.dislike:hover,.comment:hover{
                    color: rgb(171,211,246);
                }
            }

        }
    }
    .noPosts{
        margin-top: 10vh;
        font-size: 25px;
        color: black;
    }
    
    .postToForum{
        width: 100vw;
        height: 100vh;
        z-index: 3;
        
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        form{
            border-radius: 7px;
            animation: fadeIn 0.5s;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 60vw;
            height: 60vh;
            color:black;
            p{
                padding-left: 50px;
                margin-top: 0;
                width: 60vw;
                font-size: 30px;
                justify-self: flex-start;
                align-items: flex-start;
            }
            h1{

            }
            h2{
                width: 30vw;

            }
            
            input{
                
                width: 30vw;
                
            }
            button{
                margin-top: 10px;
                width: 15vw;


            }
        }
        
    }
    
}

@media(max-width:900px){
    .ForumPage{
        width: 100vw;
        height: 140vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color:black;

        top:0;
        header{
    
            padding: 10px;
            padding-left: 5vw;
            width: 100vw;
            height: 30vh;
            h1{}
            h2{}
            h3{}
            h4{}
            section{

                display: flex;
                justify-content: center;
    
                button{
                    margin: 10px;
                }
            }
            
        }
        ul{

            width: 80vw;
            height: 100vh;
            overflow-y: scroll;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            border-radius: 7px;
            padding: 50px;
    
            li{
                width: 90vw;
                padding-right:0 ;
                h3{
                    width: 85vw;

                }
            }
        }
    }
}

@media (prefers-color-scheme:dark) {
    .ForumPage{
        header{
            //box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
            color: #FF6410;
            h1{
                color: #FF6410;
            }
            h2,h3{
                color: white;
                
            }
            
            section{
                background-color:lightgray;
                button{
                    background-color: #FF6410;
                    border-radius: 7px;
                    padding: 2px;
                }
                
            }
            
        }
        ul{
            z-index: -1;
            li{
                background-color: black;
            }
            li:hover{
                animation: borderHighlightDarkMode 3s infinite; 
            }
                section{
    
                    width: 85vw;
                    h1{
                    }
                    h2{
                    }
                }
                h3{
              
                aside{
                    p{
                    }
                    .like:hover,.dislike:hover,.comment:hover{
                        color: #FF6410;
                    }
                }
    
            }
            
        }
        .postToForum{
    
            p{
            }
            form{
                background-color: rgb(28,28,28);
                color:white;
                border: solid 2px white;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

                h1{
                }
                h2{
                }
                
                input{
                    
                }
                button{
                }
            }
            
        }
    }
    
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes borderHighlight {
    0%, 100% {
        border-color: rgb(180, 217, 247); /* Initial and final border color */
    }
    25% {
        border-color: white; /* Highlighted border color */
    }
    50% {
        border-color: rgb(180, 217, 247); /* Initial and final border color */

    }
    75% {
        border-color: white; /* Highlighted border color */
    }
}

@keyframes borderHighlightDarkMode {
    0%, 100% {
        border-color: #FF6410; /* Initial and final border color */
    }
    25% {
        border-color: white; /* Highlighted border color */
    }
    50% {
        border-color: #FF6410; /* Initial and final border color */

    }
    75% {
        border-color: white; /* Highlighted border color */
    }
}