.NavBarDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    width: 100vw;
    height: 30px;
    position: fixed;

    z-index: 1;
    //box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    // background-image: url('../../assets/iosBackgrounds/iosMain.jpg');
    // background-size: cover;

    display: flex;
    justify-content: center;

    width: 100vw;

    background: rgb(180, 217, 247);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);

    .Name {
        color: transparent;
        background: rgb(180, 217, 247);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
    }
    .Name:hover{
        animation: fadeIn 1s;
        cursor: pointer;
    }

    h1 {
        font-size: 30px;
        width: 100vw;
    }

    section {
        width: 100vw;
        height: 30px;
        display: flex;
        align-items: center;


        p {
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5vw;
            border-color: white;
            font-size: 15px;
            padding: 5px;
            border-radius: 4px;
            top: 0;
        }

        p:hover {
            background-color: rgb(170, 218, 250);
            flex-direction: row;
            justify-content: center;
            display: flex;
            color: white;

        }
        .profilePic{
            width: 25px;
            border-radius: 50%;
        }
    }

    .clicked {
        color: white;
        background-color: rgb(170, 218, 250);
    }

    .unclicked {
        background-color: white;
    }

}

@media (max-width:900px) {
    .NavBarDiv {
        position: fixed;

        height: 5vh;
        bottom: 0;
        z-index: 1;

        .titles {
            height: 5vh;
        }
    }
}


@media (prefers-color-scheme:dark) {
    .NavBarDiv {
        background-color: rgb(28, 28, 28);

        .Name {
            color: transparent;
            background: #FF6410;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            text-shadow: 0px 3px 3px rgba(166, 39, 39, 0.5);
        }

        section {

            p {
                color: white;

            }

            p:hover {
                background-color: #FF6410;
            }
        }

        .clicked {
            background-color: #FF6410;
        }

        .unclicked {
            color: white;
            background-color: rgb(28, 28, 28);
        }
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }