.NavBarDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    height: 60px;
    background-color: rgba(34,41,53);
    width: 100vw;
    color:white;
    position: fixed;
        .titles{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33vw;
            border-color: white;
            font-size: 25px;
            height: 60px;
        }
        .titles:hover{
            background-color:rgb(170,218,250);;
            flex-direction: row;
            justify-content: center;
            display: flex;

        }
    }
