.LoginPage {
  color: black;
  display: flex;
  flex-direction: column;
  left: 0;
  width: 100vw;
  color: white;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 95.1vh;
  position: absolute;
  top: 5vh;
  background-image: url("../../assets/cascades/c2.jpg");
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5vh;
    width: 100vw;
    height: 10vh;
    font-size: 10vh;
    color: rgb(180, 217, 247);
    z-index: 100;
  }
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .LoginPage {
    display: flex;
    flex-direction: column;
    height: 30vh;
    position: absolute;
    top: 5vh;
    background-image: url("../../assets/cascades/c2.jpg");
    height: 100vh;
    width: 100vw;
    .title {
      display: flex;
      flex-direction: column;
    }

    h1 {
      display: flex;
      flex-direction: row;

      width: 100vw;
      margin-top: 0;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .LoginPage {
    color: #ff6410;
    background-color: rgb(28, 28, 28);
    background-image: none;
    background-size: cover;

    h2 {
      color: #ff6410;
    }

    .title {
      color: white;
    }

    h1 {
      p {
        color: #ff6410;
      }
    }
  }
}

@keyframes typing {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #000;
  }
}
