.OtherUserPage {
  width: 100vw;
  height: 98vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: whitesmoke;
  color: black;
  max-height: 3000px;
  width: 100vw;
  max-width: 2500px;
  margin: 0 auto;
  .allForumsAside {
    width: 15vw;
    height: 100vh;
    max-width: 500px;
    border-right: solid 1px rgb(100, 100, 100);
    border-left: solid 0.3px rgb(100, 100, 100);
    border-bottom: solid 1px rgb(100, 100, 100);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding-left: 10px;
    color: rgb(150, 150, 150);
    h1 {
      color: white;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: solid 1px rgb(100, 100, 100);
    }
    .allTheForums {
      margin-top: 10px;
    }
    .allTheForums:hover {
      margin-left: 10px;
    }
  }
  .wrong {
    height: 100vh;
    width: 100vw;
  }
  section {
    width: 70vw;
    height: 90vh;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    header {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 60vw;
      max-width: 1000px;
      height: 25vh;
      border-bottom: solid 1px rgb(100, 100, 100);
      max-height: 300px;
      h1 {
        font-weight: bold;
      }
      .profilePic {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }

      h6 {
        width: 25vw;
        height: 10vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border-radius: 7px;
        border: solid 1px rgb(100, 100, 100);
        max-width: 800px;
        padding: 5px;
        color: black;
        overflow-wrap: break-word; /* Ensures long words break */
        word-wrap: break-word; /* Legacy support for older browsers */
        word-break: break-word; /* Ensures any word breaks */
        font-size: min(40px, 15px);
        min-height: 5vh;
        white-space: normal; /* Ensures text wraps to a new line */
        overflow-y: scroll;
      }

      aside {
        width: 10vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }

      .interactions {
        overflow-y: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
        height: 20vh;
        width: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        p {
          width: 5vw;
          border-radius: 10px;
          background-color: black;
          margin: 3px;
          padding: 5px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        p:hover {
          background-color: rgb(180, 217, 247);
          padding: 5px;
          color: white;
          cursor: pointer;
        }
      }
    }

    .otherUserPostList {
      overflow-y: scroll;
      overflow-x: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;
      display: flex;
      width: 70vw;
      overflow-y: scroll;
      flex-direction: column;
      align-items: center;
      border-radius: 7px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .otherUserStats {
    margin-top: 1vh;
    background-color: whitesmoke;
    width: 15vw;
    max-width: 500px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border-left: solid 1px black;
    aside {
      p {
        margin-top: 10px;
      }
    }
    .interactions {
      p {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px black;
        padding: 5px;
        border-radius: 10px;
        background-color: white;
        font-weight: bold;
      }
      p:hover {
        background-color: rgb(191, 63, 27);
        cursor: pointer;
        color: white;
      }
    }
    h1 {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: solid 1px rgb(100, 100, 100);
    }
  }
}

// @media (prefers-color-scheme: dark) {
//   .OtherUserPage {
//     section {
//       background-color: rgb(16, 18, 19);
//       header {
//         h1 {
//           text-shadow: none;
//         }
//         .profilePic {
//         }

//         h6 {
//         }

//         aside {
//         }

//         .interactions {
//           p {
//             background-color: rgb(28, 28, 28);
//             color: white;
//             border: solid 1px white;
//           }

//           p:hover {
//             background-color: #ff6410;
//             color: white;
//             cursor: pointer;
//           }
//         }
//       }

//       div {
//         .post {
//           background-color: rgb(28, 28, 28);
//           border: solid 1px;
//           header {
//             border-bottom: solid 1px white;
//           }

//           .postImage {
//             border: solid 1px;
//           }

//           h5 {
//             background-color: gray;
//           }

//           section {
//             border-top: solid 1px white;
//             p {
//             }

//             p:hover {
//               background-color: #ff6410;
//               color: white;
//             }
//             .date:hover {
//               background-color: rgb(28, 28, 28);
//               color: white;
//             }
//           }
//         }
//         .post:hover {
//           cursor: pointer;
//         }
//       }
//     }
//   }
// }

// @media (max-width: 900px) {
//   .OtherUserPage {
//     section {
//       width: 100vw;
//       header {
//         width: 98vw;
//         .profilePic {
//         }

//         h6 {
//           height: 10vh;
//           width: 10vh;
//         }

//         aside {
//           height: 10vh;
//           width: 10vh;
//         }

//         .interactions {
//           height: 10vh;
//           width: 10vh;
//           display: flex;
//           flex-direction: column;
//           justify-content: space-around;
//           p {
//             width: 90%;
//             font-size: 10px;
//           }

//           p:hover {
//           }
//         }
//       }

//       div {
//         width: 100vw;
//         .post {
//           width: 95vw;
//           header {
//             width: 95vw;
//             border-bottom: none;
//           }

//           .postImage {
//             width: 95vw;
//           }

//           h5 {
//             width: 95vw;
//           }

//           section {
//             width: 95vw;
//             p {
//               font-size: 11px;
//               width: 25%;
//             }

//             p:hover {
//             }
//           }
//         }
//       }
//     }
//   }
// }
