.ChatsAside{
    position: absolute;
    margin-top: 5vmin;
    left: 5vw;
    width: 20vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    background-color: pink;
    color: white;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    border: solid 1px white;

}

@media (max-width:900px) {
    .ChatsAside{
        position: absolute;
    margin-top: 5vmin;
    left: 5vw;
    width: 90vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    }
}