.ChatsAside{
    position: absolute;
    margin-top: 60px;
    left: 5vw;
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: orangered;

    justify-content: center;
    align-items: center;
}