.HomePosts{
    position: absolute;
    top:6.5svh;
    width: 100vw;
    height: 90vh;
    margin-top: 5vmin;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;;

    
    ul{
        width: 90vw;

        border-radius: 7px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        overflow-x:hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        list-style-type: none;

        animation: fadeIn 0.5s;

        li{


            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-items: center;
            width: 55vw;
            height: 60vh;
            margin: 5px;
            margin-right: 22.5px;
            color: black;

            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            animation: fadeIn 2s;
        }
    }

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@media (max-width:900px){
    .HomePosts{


           
            ul{
                position: absolute;
                top:40vh;
                overflow-y: scroll;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 5vw;
                width: 100vw;
                list-style-type: none;

                li{

                    display: flex;
                    flex-direction: column;
                align-items: center;
                width: 100vw;
                
                height: 60vh;
                
            }
        }

       }
}
@media (prefers-color-scheme:dark) {
    .HomePosts{
        // box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    }
    
}