.HomePosts{
    position: absolute;
    top: 120px;
    justify-self: center;
    position: absolute;
    width: 100vw;
    height: 80vh;
    background-color: yellow;

    overflow-y: scroll;
   
    
}