.UserPage {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow-y: hidden;
  max-height: 3000px;
  width: 100vw;
  max-width: 2650px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .userForums {
    width: 15vw;
    height: 100%;
    border-right: solid 1px black;
    border-left: solid 0.3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    .pageTitle {
      font-size: min(15vw, 30px);
      color: rgb(191, 63, 27);
    }
    h2 {
      color: black;
      font-weight: bold;
      width: 90%;
      border-bottom: solid 1px black;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }
    p {
      color: black;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 10px;
      margin-top: 10px;
    }
    p:hover {
      margin-left: 10px;
    }
  }
  .userPageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70vw;
    max-width: 1500px;
    .userAside {
      max-width: 1500px;
      max-height: 300px;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 25vh;
      width: 60vw;
      border-bottom: solid 1px black;
      .userAsideTop {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 15vh;
        color: white;
        .userAsideTopLeft {
          width: 30%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 100%;
          .userPic {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .addPic {
              color: black;
            }
            .addPic:hover {
              cursor: pointer;
            }
          }
          .username {
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
          }

          .submitForm {
            z-index: 2;
            width: 300px;
            height: 200px;
            display: flex;
            background-color: whitesmoke;
            border-radius: 5px;
            border: solid 1px black;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            padding-left: 10px;
            .cf {
              color: black;
              width: 200px;
            }
            .closeIcon {
              width: 100%;
              color: black;
              font-size: 10px;
              height: 20%;

              display: flex;
            }
            button {
              margin-right: 10px;
              padding: 6px;
              height: 40px;
              font-size: 12px;
              border: solid 2px white;
              border-radius: 20px;
              background-color: rgb(191, 63, 27);
            }
          }
          h1 {
            width: 10%;
          }
        }
        .userAsideTopRight {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70%;

          .bio {
            width: 90%;
            height: 90%;
            overflow-y: scroll;
            color: white;
            border: solid 1px black;
            padding: 5px;
            border-radius: 3px;
            color: black;
            font-size: min(90%, 20px);
          }
          ::-webkit-scrollbar {
            display: none;
          }
        }
      }
      #profilePic {
        width: 95px;
        height: 95px;
        border-radius: 100%;
        border: solid 1px black;
        margin-top: 20px;
      }

      .functions {
        width: 60vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 5vh;
        max-width: 1000px;
        margin-top: 20px;
        border-radius: 5px;
        padding: 5px;
        font-weight: 500;
        .createPost {
          color: black;
          border-radius: 20px;
          border: solid 1px black;
          padding-left: 10px;
          padding-right: 10px;
        }
        .userFuncs {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          background-color: white;
          width: 30px;
          height: 30px;
          color: black;
          padding: 3px;
          font-weight: bold;
        }
        .createPost:hover {
          cursor: pointer;
          color: white;
          background-color: rgb(191, 63, 27);
        }
      }
    }
    #posts {
    }
    .userPosts {
      padding: 5px;
      width: 60vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 70vh;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .stats {
    width: 15vw;
    max-width: 500px;
    align-self: flex-start;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    color: black;
    height: 100vh;
    border-left: solid 1px black;
    h1 {
      margin-top: 10px;

      width: 90%;
      border-bottom: solid 1px black;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: solid 1px black;
    }
    h3 {
      color: black;
      margin-top: 10px;
    }
  }
}
::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  .UserPage {
  }
}

// @media (prefers-color-scheme: dark) {
//   .UserPage {
//     .heading {
//       color: #ff6410;
//     }
//   }
// }
