.UserPage{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top:5vmin;
    align-items: center;
    width: 100vw;
    position: fixed;
    height: 100vh;
    background-color: white;
    background-size: cover;
    overflow-y: scroll;
    // background-image: url('../../assets/iosBackgrounds/iosMain.jpg');
    // background-size: cover;



}



@media (max-width:900px){
    .UserPage{
    top:0;

    }
}


@media (prefers-color-scheme:dark) {
    .UserPage{
        background-color: black;
        color: #FF6410;

    }
}