.UserPage{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top:60px;
    align-items: center;
    width: 100vw;
    position: fixed;
    height: 100vh;
    background-color: yellow;
    background-size: cover;

}
