.signUpFormDiv {
  width: 30vw;
  height: 80vh;
  top: 30vh;
  position: fixed;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInAndUp cubic-bezier(0.82, 0.9, 1, 1.08) 0.9s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: rgb(23, 23, 23);
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .title {
    justify-self: center;
    font-family: "Orbitron", sans-serif;
    position: fixed;
    font-size: 2.5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-top: 0;
      font-size: 20px;
    }

    .buttonDiv {
      width: 25vw;

      display: flex;
      flex-direction: row;
    }
  }

  .signUpForm {
    border-radius: 3px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .text {
      font-size: 20px;
      font-family: "Gruppo", sans-serif;
    }

    .inputText {
      font-family: "Gruppo", sans-serif;
      color: black;
      height: 20px;
      width: 20vw;
      background-color: white;
      border: solid 1px white;
      border-radius: 3px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      font-size: 10px;
    }

    .submit {
      font-size: 1.5vmin;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 10vw;

      border-color: white;
      height: 20px;
      color: black;
      margin-top: 1vmin;
      padding-bottom: 0.8vmin;
      padding-top: 0.8vmin;
      margin-bottom: 10vmin;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .submit:hover {
      background-color: rgb(170, 218, 250);
    }
  }

  .signupButton {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-size: 1.5vmin;
  }

  .signupButton:hover {
    color: rgb(170, 218, 250);
  }
}

@media (max-width: 900px) {
  .signUpFormDiv {
    width: 40vw;
    h3 {
    }
  }
}

@media (prefers-color-scheme: dark) {
  .signUpFormDiv {
    color: white;

    .title {
      p {
      }

      .buttonDiv {
      }
    }

    .signUpForm {
      .text {
      }

      .inputText {
      }

      .submit {
      }

      .submit:hover {
      }
    }

    .signupButton {
    }

    .signupButton:hover {
    }
  }
}

@keyframes fadeInAndUp {
  0% {
    opacity: 0.2;
    transform: translateY(50px);
  }
  20% {
    opacity: 0.4;
    transform: translateY(40px);
  }
  40% {
    opacity: 0.6;
    transform: translateY(30px);
  }
  60% {
    opacity: 0.8;
    transform: translateY(20px);
  }
  80% {
    opacity: 0.8;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
  }
}
