.signUpFormDiv{
    width: 50vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .title{
        justify-self: center;
        font-family: 'Orbitron', sans-serif;
        position: fixed;
        top:20vh;
        font-size: 2.5vmin;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin-top: 0;
            font-size:20px;
        }
        .buttonDiv{
            width: 25vw;

            display: flex;
            flex-direction: row;
        }
    }
    .signUpForm{
        height: 70vh;
        width:100vw;
        display: flex;
        flex-direction: column;
        padding-left: 40vw;
        justify-content: center;

        .text{
            font-size: 20px;
            font-family: 'Gruppo', sans-serif;
            

        }
        .inputText{
            font-family: 'Gruppo', sans-serif;
            color:white;
            height: 20px;
            width: 60vw;
            background-color: white;
            border-width: 1px;
            border-color: black;
            border-radius: 7px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

        }
        .submit{
            font-size: 1.5vmin;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 10vw;
            font-family: 'Gruppo', sans-serif;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            border-color: white;
            height: 20px;
            color:black;
            margin-top: 1vmin;
            padding-bottom: 0.8vmin;
            padding-top: 0.8vmin;
            margin-bottom: 10vmin;

            
        }
        .submit:hover{
            background-color:rgb(170,218,250); ;
        }
    }
    .signupButton{
        display: flex;
        justify-content: center;
        width: 100vw;
        font-size: 1.5vmin;
    }
    .signupButton:hover{
        color:rgb(170,218,250); ;
    }
}