.Post {
  padding: 10px;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  max-width: 1000px;
  max-height: 600px;
  border: solid 1px black;
  border-radius: 5px;
  background-color: white;
  .upper {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 10vh;
    .upperLeft {
      width: 80%;
      height: 100%;
      .postTitle {
        color: rgb(150, 150, 150);
        padding-left: 2px;
        font-size: 15px;
        color: black;
        padding-left: 5px;
        font-weight: 900;

        width: 100%;
      }

      .postSenderName {
        font-size: 15px;
        padding-left: 5px;
        font-size: 10px;
        font-weight: bold;
        color: rgb(191, 63, 27);
        width: 100%;
      }
      .postForumTitle {
        width: 100%;
        border-bottom: solid 1px black;
        color: rgb(35, 73, 175);
        font-weight: bolder;
        font-size: 12px;
        padding-left: 5px;
      }
      h2:hover,
      h3:hover,
      h4:hover {
        cursor: pointer;
      }
    }
    .upperRight {
      width: 10%;
      height: 90%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 5px;
      .date {
        font-size: 10px;
        color: rgb(220, 220, 220);
        color: black;
      }
    }
  }
  .body {
    margin-top: 5px;
    width: 54vw;
    min-height: 10vh;
    border-radius: 10px;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: min(130px, 10px);
    background-color: white;
    max-width: 990px;

    .postText {
      background-color: white;
      min-height: 5vh;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: min(60vw, 20px);
      padding: 10px;
      height: 40%;
      border-radius: 5px;
      color: black;
    }
  }
  .bottom {
    height: 5vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    .interactions {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      padding-left: 3px;
      padding-right: 3px;
      h4 {
        color: black;
        margin-left: 5px;
      }
      .userdisliked {
        color: rgb(191, 63, 27);
        border-radius: 5px;
      }
      .userdisliked:hover {
        color: white;
        background-color: rgb(191, 63, 27);
      }
      .userliked {
        color: royalblue;
        border-radius: 5px;
      }
      .userliked:hover {
        color: white;
        background-color: royalblue;
      }
      .likes {
        background-color: white;
        margin-left: 10px;
        font-size: 15px;
        width: 40px;
        color: black;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .dislikes:hover,
      .likes:hover {
        border-radius: 7px;
        cursor: pointer;
        background-color: cadetblue;
        color: white;
      }
    }
    .postComments {
      width: 90%;
      padding: 3px;
      border-radius: 20px;
      background-color: black;
      background-color: green;
      border: 1px solid white;
    }
    .postComments:hover {
      cursor: pointer;
    }
  }
}
