.Post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    h2,h3,h4{
        margin: 0;
        align-self: flex-start;
        padding-left: 1vw;
    }
    p{
        width: 55vw;
        height: 35vh;
        border-radius: 7px;
        background-color: rgb(230,229,234);
        display: flex;

    }
    .interactions{
        display: flex;
        width: 55vw;

        h8{
            padding-left: 1vw;
        }
        
    }
}

@media (max-width:900px){
    .Post{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        h2,h3,h4{
            margin: 0;
            align-self: flex-start;
            padding-left: 1vw;
        }
        p{
            width: 55vw;
            background-color: rgb(230,229,234);
            height: 40vh;
        }
        .interactions{
            display: flex;
            width: 55vw;
            justify-content: space-evenly;
            h8{

            }
            
        }
    }
}