.Post {
  padding: 10px;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  max-width: 1000px;
  max-height: 600px;
  border: solid 1px rgb(100, 100, 100);
  border-radius: 5px;
  background-color: rgb(36, 38, 39);
  .upper {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 10vh;
    .upperLeft {
      width: 50%;
      height: 100%;
      .postTitle {
        color: rgb(150, 150, 150);
        padding-left: 2px;
        font-size: 15px;
        color: rgb(220, 220, 220);
        padding-left: 5px;
        font-weight: 900;
      }

      .postSenderName {
        font-size: 10px;
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px;
        max-width: 100px;
        font-size: 10px;
        font-weight: bold;
        color: rgb(170, 170, 170);
      }
      .postForumTitle {
        background-color: rgb(35, 73, 175);
        color: white;
        width: 100px;
        border-radius: 5px;
        min-width: 120px;
        max-width: 50%;
        font-weight: bolder;
        font-size: 12px;
        padding-left: 5px;
      }
      h2:hover,
      h3:hover,
      h4:hover {
        cursor: pointer;
      }
    }
    .upperRight {
      width: 50%;
      height: 90%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 5px;
      .date {
        font-size: 10px;
        color: white;
        color: rgb(220, 220, 220);
      }
    }
  }
  .body {
    margin-top: 5px;
    width: 55vw;
    max-width: 1000px;
    min-height: 10vh;
    border-radius: 10px;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(130px, 10px);
    background-color: rgb(220, 220, 220);
    .postText {
      background-color: rgb(220, 220, 220);
      min-width: 50vw;
      min-height: 10vh;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      color: black;
      font-size: min(60vw, 20px);
      padding: 10px;
      height: 40%;
      border-radius: 5px;
    }
  }
  .bottom {
    height: 5vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    .likes {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      padding-left: 3px;
      padding-right: 3px;

      h4 {
        background-color: rgb(39, 44, 19);
        margin-left: 10px;
        font-size: 15px;
        width: 40px;
        color: white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h4:hover {
        background-color: #ff6410;
        border-radius: 7px;
        cursor: pointer;
      }
    }
    .postComments {
      width: 90%;
      padding: 3px;
      border-radius: 20px;
      background-color: black;
      background-color: green;
      border: 1px solid white;
    }
    .postComments:hover {
      cursor: pointer;
    }
  }
}
