.UserAside{
    position: absolute;

    left: 5vw;
    width: 18vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: space-evenly;
    align-items: center;

    animation: fadeIn 0.5s;
    margin:5px;

    border-radius: 7px;

    h1{
        position: relative;
        color: black;
    }
    .userPic{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        width: 15vw;
        height: 15vw;
        border-radius: 90px;
    }

    .controlPanel{
        display: flex;
        justify-content: space-around;
        width: 15vw;
        border-radius: 100%;

        
        button{
            border: solid 2px ;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            width: 2vw;
            height: 2vw;
        }
        .setting{
            background-color: rgb(236,106,94);
        }
        .friends{
            background-color: rgb(244,191,79);
        }
        .edit{
            background-color: rgb(99,200,85);
            
        }
        .create{
            background-color: rgb(74,119,236);
        }
        .setting:hover, .friends:hover, .edit:hover,  .create:hover{
            transition: 0.5s;
            padding: 1px;
            cursor: pointer;
        }
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@media (max-width:900px) {
    .UserAside{
    position: absolute;
    margin-top: 10vh;
    width: 100vw;
    left:0;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(230,229,234);
    border-radius: 7px;
    h1{
        font-size: 3vmin;
        width: 15vw;
        display: flex;
    }
    .userPic{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        width: 100px;

        height: 100px;
        border-radius: 100%;
    }

    .controlPanel{
        border-radius: 50px;
        width: 20vw;

        button{
            margin: 2px;
            width: 25px;
            height: 25px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        }
        .setting{
            background-color: red;
        }
        .friends{
            background-color: yellow;
        }
        .edit{
            background-color: green;

        }
        .create{
            background-color: blue;
        }
    }
    }
}

@media (prefers-color-scheme:dark) {
    .UserAside{
        background-color: rgb(28,28,28);
        h1{

            color: #FF6410;
        }
        .controlPanel{

            .setting{
                background-color: #FF6410;
            }
            .friends{
                background-color: #FF6410;
            }
            .edit{
                background-color: #FF6410;
                
            }
        }

    }
    
}