.UserFriends {
  h1 {
  }
  .friendsList {
    .friendCard {
      img {
      }
      img:hover {
        cursor: pointer;
      }
      .friendName {
      }
      button {
      }
      button:hover {
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .UserFriends {
    h1 {
      color: #ff6410;
    }
    .friendsList {
      .friendCard {
        background-color: rgb(28, 28, 28);
        img {
        }
        .friendName {
          color: #ff6410;
        }
        button {
          background-color: black;
          border: solid 1px white;
        }
        button:hover {
          background-color: #ff6410;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .UserFriends {
    h1 {
    }
    .friendsList {
      .friendCard {
        img {
        }
        img:hover {
        }
        .friendName {
        }
        button {
        }
        button:hover {
        }
      }
    }
  }
}
