.UserFriends {
  background-color: rgb(16, 18, 19);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  flex-direction: column;
  color: white;
  .title {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    font-size: 30px;
    padding-left: 10vw;
  }
  h1 {
  }
  .friendsList {
    border-radius: 5px;
    border: solid 1px rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: black;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .friendCard {
      background-color: rgb(28, 28, 28);
      margin: 5px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 50vw;
      padding: 10px;
      img {
        border-radius: 100%;
        width: 120px;
        height: 120px;
        border: solid rgb(100, 100, 100) 1px;
      }
      img:hover {
        cursor: pointer;
      }
      .friendName {
      }
      button {
        border: solid rgb(100, 100, 100) 1px;
        padding: 7px;
        border-radius: 5px;
      }
      button:hover {
        background-color: rgb(191, 63, 27);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .UserFriends {
    h1 {
      color: #ff6410;
    }
    .friendsList {
      .friendCard {
        background-color: rgb(28, 28, 28);
        img {
        }
        .friendName {
          color: #ff6410;
        }
        button {
          background-color: black;
          border: solid 1px white;
        }
        button:hover {
          background-color: #ff6410;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .UserFriends {
    h1 {
    }
    .friendsList {
      .friendCard {
        img {
        }
        img:hover {
        }
        .friendName {
        }
        button {
        }
        button:hover {
        }
      }
    }
  }
}
