.HomePage{
    position: absolute;
    top:30px;;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    //background-image: url('../../assets/iosBackgrounds/iosMain.jpg');

    animation: fadeIn 1s;
    .buttonDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        left: 80vw;
        top:15vmin;
        position: absolute;
        width: 20vw;
        height: 80vh;
        border-radius: 7px;
        h4{
            color: sblack;
        }

            ul{
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                width:15vw;
                height:80vh;
                border-radius: 7px;
                display: flex;
                justify-content: flex-start;
                align-self: center;
                flex-direction: column;
                list-style-type: none;
                overflow-y: scroll;
                li{
                display: flex;
                justify-content: center;
                width: 12.5vw;
                border-radius: 7px;
                margin: 2px;
                color:black;
                height: 50px;
                background-color: white;

            }
            }

        button{
            margin-top: 10px;
            width: 50px;
            height: 50px;
            position: relative;
            border-radius: 100px;
            color: black;
            background-color: white;
            border-color: white;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            
        }
    }
    #name{
        margin-top:30px;

        display: flex;
        justify-content: flex-start;
        position: fixed;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        color: black;
        font-size: 25px;

        top:3vmin;
        border-radius: 7px;
        z-index: 1;
        

    }
    .hidden{
        animation: fadeIn 2s ;
    }
    .userInfo{
        top:15vmin;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 0;
        position: absolute;
        color: orange;
        width: 20vw;
        height: 50vh;
        border-radius: 7px;
        .userPic{
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


        }
        .username{
            padding: 10px;
        }
        .userForums{
            padding: 10px;

        }
    }

}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@media (max-width:900px) {
    .HomePage{
        h4{
            opacity: 0;
            width: 20px;
        }
        #name{
            top:0px;
            width: 100vw;
            display: flex;

            align-items: center;
        }
        display: flex;
        flex-direction: column;
        align-self: center;
        .buttonDiv{
            position: absolute;
            left: 0;
            top:40vh;
            width: 100vw;
            height: 5vh;

            display: flex;
            flex-direction: row-reverse;
            align-items: center;

                ul{
                    height: 5vh;
                    overflow-x: scroll;
                    flex-direction: row;
                    width: 100vw;
                    overflow-y: hidden;
                    li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow-x: hidden;
                        overflow-wrap: normal;
                        height: 4vh;
                        border-radius: 7px;
                        font-size: 10px;
                        padding: 2px;
                    }
                }
            button{
                width: 50px;
                height:50px;
                border-radius: 100px;
                margin: 10px;
            }
        }
        h1{

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            position: fixed;
            width: 100vw;
            padding-left: 5vw;
            color: white;
            
            z-index: 1;
            top:0vh;
            margin-top:0 ;
        }
         .userInfo{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        top: 10vh;
        position: absolute;
        color: orange;
        width: 100vw;
        height: 30vh;
        .userPic{
            border-radius: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;

        }
        .username{
            padding: 10px;
        }
    }
        
    }
}



@media (prefers-color-scheme:dark) {
    .HomePage{
        background-color: black;
        #name{
            margin-top:40px;
            color: #FF6410;
        }
        background-color: black;
        .buttonDiv{
            background-color: rgb(28,28,28);
            color: #FF6410;
            button{

            }
            ul{
                background-color: (10,10,10);
            }
        }
        .userInfo{
            color: #FF6410;
            background-color: rgb(28,28,28);
            .userPic{
                border: solid 1px white;
            }
        }
    }
}