.HomePage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top:4vh;
    align-items: center;
    background-image:url(https://i.gifer.com/3EQO.gif);
    background-size: cover;
    width: 100vw;
    position: fixed;
    height: 100vh;
}
