.HomePage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top:4vh;
    align-items: center;
    background-color: green;
    width: 100vw;
    position: fixed;
    height: 100vh;
}
