.PostPage {
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-start;
  max-height: 3000px;
  width: 100vw;
  max-width: 2650px;
  margin: 0 auto;
  .allForumsAside {
    .pageTitle {
      font-size: 50px;
      color: rgb(191, 63, 27);
    }
    width: 15vw;
    height: 100vh;
    max-height: 1000px;
    max-width: 500px;
    border-right: solid 1px rgb(100, 100, 100);
    border-left: solid 0.3px rgb(100, 100, 100);
    border-bottom: solid 1px rgb(100, 100, 100);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding-left: 10px;
    color: rgb(150, 150, 150);
    h1 {
      color: white;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: solid 1px rgb(100, 100, 100);
    }
    .allTheForums {
      margin-top: 10px;
    }
    .allTheForums:hover {
      margin-left: 10px;
    }
  }
  section {
    margin-top: 1vh;
    border-radius: 5px;
    background-color: whitesmoke;
    width: 70vw;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 1500px;
    header {
      border: solid 1px black;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 15vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 150px;
      color: white;
      width: 60vw;
      max-width: 1400px;
      border-bottom: none;
      background-color: white;
      .headerClickables {
      }
      #sender {
        padding-left: 20px;
        max-width: 90%;
        margin-top: 5px;
        font-size: min(130px, 15px);
        color: rgb(191, 63, 27);
      }
      #postTitle {
        max-width: 500px;
        padding-left: 20px;
        font-size: 20px;
        font-size: min(130px, 20px);
        font-weight: bold;
        margin-top: 5px;
        color: black;
      }
      #postForum {
        margin-top: 5px;
        max-width: 90%;
        margin-left: 20px;
        color: rgb(180, 217, 247);
        font-weight: bold;
        padding: 2px;
        border-bottom: solid 1px black;
      }
      .headerClickables:hover {
        cursor: pointer;
      }
    }
    aside {
      //border-top: solid 1px rgb(100, 100, 100);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
      //background-color: rgb(190, 190, 190);
      width: 60vw;
      max-width: 1400px;
      border-left: solid 1px black;
      border-right: solid 1px black;
      background-color: white;
    }
    .interactions {
      display: flex;
      height: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 60vw;
      color: black;
      border-left: solid 1px black;
      border-right: solid 1px black;
      max-width: 1400px;
      background-color: white;

      .disklikes:hover {
      }
      h4 {
        padding-left: 10px;
        width: 100px;
        font-size: min(50px, 15px);
      }
    }
    h4:hover {
      cursor: pointer;
    }
    p {
      background-color: white;
      width: 58vw;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      color: black;
      font-size: min(60vw, 20px);
      padding: 10px;
      height: 40%;
      border-radius: 5px;
    }
    img {
      width: 50vw;
      height: 50vh;
    }
    img:hover {
      cursor: pointer;
    }
    .commentDiv {
      background-color: white;
      width: 60vw;
      max-width: 1400px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 5px;
      border: solid 1px black;
      border-top: none;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;
      .commentSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60vw;
        max-width: 1400px;
        .comment {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          list-style: none;
          color: white;
          width: 55vw;
          max-width: 1200px;
          margin-top: 10px;
          font-size: min(5vh, 20px);
          border-radius: 5px;
          border: solid 1px black;
          background-color: whitesmoke;

          .commentLeftSide {
            background-color: whitesmoke;
            font-size: 15px;
            border-radius: 0%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: rgb(100, 100, 100);
            min-height: 5vh;
            max-height: 150px;
            max-width: 100px;
          }

          .commentRightSide {
            color: black;
            background-color: whitesmoke;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start; /* Align items to the start of the container */
            width: 100%;
            max-width: 800px;
            border-radius: 0%;
            overflow-wrap: break-word; /* Ensures long words break */
            word-wrap: break-word; /* Legacy support for older browsers */
            word-break: break-word; /* Ensures any word breaks */
            font-size: min(40px, 15px);
            min-height: 5vh;
            white-space: normal; /* Ensures text wraps to a new line */
          }
        }
      }
      .inputDiv {
        height: 5vh;
        max-height: 120px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 10px;
        form {
          display: flex;
          input {
            background-color: rgb(192, 192, 192);
            border: solid 1px black;
            width: 40vw;
            max-width: 600px;
            margin-bottom: 5px;
            border-radius: 5px;
          }
        }
        h2 {
          width: 40vw;
          max-width: 600px;
          color: white;
          padding: 5px;
          border-radius: 5px;
          border: solid 1px rgb(50, 50, 50);
          margin-top: 20px;
        }
        .commentButton {
          margin-bottom: 5px;
          border: solid 1px white;
          border-radius: 5px;
          color: white;
          font-weight: bold;
          max-width: 200px;
          margin-left: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgb(191, 63, 27);
          padding: 2px;
        }
        .commentButton:hover {
          cursor: pointer;
          color: white;
          background-color: rgb(180, 217, 247);
        }
      }
    }
  }
  .loading {
  }
  .posterInfo {
    border-left: solid 1px rgb(100, 100, 100);
    border-right: solid 0.3px rgb(100, 100, 100);
    border-bottom: solid 1px rgb(100, 100, 100);
    width: 15vw;
    color: black;
    display: flex;
    max-height: 1000px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h1 {
      width: 90%;
      border-bottom: solid 1px rgb(100, 100, 100);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h2 {
      margin-top: 10px;
    }
    #profilePic {
      margin-top: 10px;
      width: 90px;
      height: 80px;
      border-radius: 100%;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
  }
}
